body {
    margin: 0;
    background-color: #1B244A;
    font-family: Verdana;
    font-size: 36px;
    color: #EEEEEE;
    
}

.score {
    background: #0a0001;
    font-size: 90px;
    font-family: cursive;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}


.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


button {
    background: #1B244A ;
    color: #9AABD8;
   
}